####################L0 file path needs to be given######################
filepath=D:\\DeliveryAccount\\DIW\\input
####################DIW Formatted Destination path####################
outputpath=D:\\Development_Avecto\\DIW_UTILITY\\DIW_UTILITY\\DIW_UTILITY\\DIWFormattedOutputs
#################### DIW Template Sheet Path####################
DIW_TEMPLATE_FILE_Path=D:\\Development\\Utility\\DIW\\DIW UTILITY\\property\\Design_Specification_Template-Informatica.XLSM
#################### Other Inputs File Path #####################
otherInputFilePath=D:\\Development\\Utility\\DIW\\DIW UTILITY\\property\\otherinputs.txt
#################### Other Inputs File Path #####################
schemaPath=D:\\DeliveryAccount\\DIW\\schema\\SchemaInfo.xlsx